[submodule "cpp/lib/rapidjson"]
	path = cpp/lib/rapidjson
	url = https://github.com/Tencent/rapidjson
[submodule "data"]
	path = data
	url = https://github.com/hacking-the-election/data
[submodule "cpp/lib/ordered-map"]
	path = cpp/lib/ordered-map
	url = https://github.com/Tessil/ordered-map
[submodule "cpp/lib/Clipper"]
	path = cpp/lib/Clipper
	url = https://github.com/GeriBorbas/Clipper
[submodule "cpp/lib/earcut.hpp"]
	path = cpp/lib/earcut.hpp
	url = https://github.com/mapbox/earcut.hpp
