# macOS
.DS_Store

# python
venv
**/*/__pycache__
precincts.log
test*.json
test*.pickle
test*.txt
hacking_the_election.egg-info
**/*compactness.pickle
**/*partisanship.pickle
**/*population.pickle

# sphinx documentation
python/docs/

# vscode
settings.json
.vscode
*.dSYM/

# c++ binaries
cpp/bin/
cpp/src/combine_districts
cpp/test/test
cpp/lib/clipper/
cpp/test_data/

# notebooks
notebooks/.ipynb_checkpoints
