# macOS
.DS_Store

# python
venv
**/*/__pycache__
python/test-data
precincts.log

# vscode
settings.json
.vscode
*.dSYM/

# c++ binaries
cpp/bin/
cpp/src/combine_districts
cpp/test/test

# lol-cubes
notes
quick.txt