# macOS
.DS_Store

# python
venv
*.pyc
test*.json
test*.pickle
test*.txt
test*.png
test*.sh
hacking_the_election.egg-info
test.py
vermont*.pickle
north_carolina*.pickle
vermont*.json
north_carolina*.json

# cython
python/**/*.c
python/**/*.so
python/build

# vscode
settings.json
.vscode
*.dSYM/


# c++
cpp/bin/
cpp/test/test
cpp/test_data/
# cpp/build/*.o
*.o

output/*/anim/
output/*/img/*.png

cpp/generate_communities
cpp/generate_communities.sh